{{extend 'layout2.html'}}
{{=form.custom.begin}}
{{=form.custom.widget.title}}
<div class="input-group" id="head_group" style="margin-top:10px;width: 50%">
    <span class="input-group-addon" id="at">@</span>
    {{=form.custom.widget.university}}
    <span class="input-group-addon" id="hash">#</span>
    {{=SELECT_TYPE()}}
</div>
<div style="clear: both"></div>
<div class="notearea row">
    <div id="summernote"></div>
    <div id="notes">
        <h1 id="note_title"></h1>
        <p id="note_content"></p>
    </div>
</div>
<div style="clear: both"></div>
<div id="my-tag-list" class="tag-list" style="margin-bottom:10px;width: 70%;"></div>
<div style="display: none">
    {{=form.custom.widget.ques_content}}
    {{=form.custom.widget.content_type}}
    <input id="question_university_name" name="university_name" type="text">
    <ul class="w2p_list" id="question_keywords_grow_input" style="list-style:none;display:none"></ul>
</div>
{{=form.custom.submit}}
{{=form.custom.end}}
<br>
<script>
    $(function() {
        // If using Bootstrap 2, be sure to include:
        // Tags.bootstrapVersion = "2";
        $('#my-tag-list').tags({
            suggestions:["basic", "suggestions"],
            excludeList:["not", "these", "words"],
            afterAddingTag: function(tag){
                $("#question_keywords_grow_input").append('<li><input id="question_keywords" name="keywords" type="text" value="'+tag+'"></li>');
            },
            afterDeletingTag:function(tag){
                $('input[value='+tag+']').parent().remove();
            }
        });

        $('#summernote').summernote({
            height: 250,
            width:'70%',
            onChange: function(contents, $editable) {
                $('#question_ques_content').val(contents);
            },
            onFocus: function(contents, $editable) {
                $('#note_title').html("The content");
                $('#note_content').html("Add some more details to your question, links or pictures are welcome!");
            }
        });

        $.get('{{=URL('default','universities',args=['names'], user_signature=True)}}', function(data){
            $("#question_university").typeahead({ source:data });
        },'json');

        $( ".selectpicker" ).change(function() {
            $('#question_content_type').val($('.selectpicker').selectpicker('val'));
        });

        $( "#question_title" ).focus(function() {
            $('#note_title').html("The statement");
            $('#note_content').html("Simply ask your question.<br>Don't use too much words here, you have a lot of empty space in the content part.");
        });
        $( "#question_university" ).focus(function() {
            $('#note_title').html("The university");
            $('#note_content').html("Don't forget to select the university related to your question.<br>Start writing, some proposition will be made.");
        });
    });
</script>