{{extend 'layout2.html'}}
{{if request.args(0)=='university':}}
{{include 'university.html'}}
{{else:}}
<div class="lookfor">
    <h1>{{=T('Looking for')}}:</h1>
    <a href="{{=URL('default','search',args=['advice'])}}" class="searchitem" id="advice">
        <i class="fa fa-info"></i><br>
        <p>{{=T('advice')}}</p>
    </a>
    <a href="{{=URL('default','search',args=['university'])}}" class="searchitem" id="university">
        <i class="fa fa-university"></i>
        <p>{{=T('university')}}</p>
    </a>
    <a href="{{=URL('default','search',args=['user'])}}" class="searchitem" id="user">
        <i class="fa fa-user"></i>
        <p>{{=T('student')}}</p>
    </a>
</div>
{{pass}}