@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Montserrat:400,700);
/* line 3, ../sass/craftmap.scss */
#content {
  margin: 20px auto 0;
  width: 1000px;
}

/* line 8, ../sass/craftmap.scss */
.demo1 {
  float: left;
  width: 1000px;
  height: 600px;
  -moz-box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
}

/* line 18, ../sass/craftmap.scss */
.menu {
  margin-bottom: 0px;
  text-align: center;
}

/* line 23, ../sass/craftmap.scss */
.menu a {
  color: #D7363A;
  font-size: 11px;
  font-weight: bold;
  margin: 0 10px;
}

/* line 30, ../sass/craftmap.scss */
.preloader {
  background: url(../images/loader.gif) no-repeat center #fff;
}

/* line 34, ../sass/craftmap.scss */
.marker {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  outline: none;
  background: url(../images/markers/pin1_blue.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* line 45, ../sass/craftmap.scss */
.popup {
  width: 300px;
  position: absolute;
  padding: 8px;
  background: #2a2a2a;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
}

/* line 56, ../sass/craftmap.scss */
.popup h3 {
  color: #52acf1;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-weight: normal;
  font-size: 20px;
}

/* line 65, ../sass/craftmap.scss */
.popup a {
  color: white;
}

/* line 69, ../sass/craftmap.scss */
.popup a:hover {
  color: #52acf1;
  text-decoration: none;
}

/* line 74, ../sass/craftmap.scss */
.popup .close {
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  outline: none;
  background: url(../images/close.jpg) no-repeat;
  cursor: pointer;
  opacity: 1;
}

/* line 88, ../sass/craftmap.scss */
.relative {
  position: relative;
}

/* line 92, ../sass/craftmap.scss */
.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
}

/* line 99, ../sass/craftmap.scss */
.controls a {
  background: #2a2a2a;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  float: left;
  clear: both;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 2px;
  outline: none;
  padding: 0 15px;
  text-decoration: none;
}

/* line 114, ../sass/craftmap.scss */
.controls a:hover {
  background: #eee;
  color: #2a2a2a;
}

/* line 119, ../sass/craftmap.scss */
.controls .active {
  background: #52acf1;
  color: #fff;
}
