<div class="container-fluid" id="target"></div>
<script id="template" type="text/ractive">
    <div class="row">
        <div class="input-group margin-bottom-sm col-sm-12">
            <span class="input-group-addon">Search by:</span>
            <span class="input-group-addon"><i class="fa fa-university fa-fw"></i></span>
            <input id="s_univ" type="text" class="form-control" id="university_search" autocomplete="off" placeholder="University" data-provide="typeahead">
            <span class="input-group-addon"><i class="fa fa-tags fa-fw"></i></span>
            <select class="form-control" value="{% search_data.type %}" id="s_type" style="border-radius:0;-webkit-appearance: none;">
            {{=OPTION('All types',_value='All')}}
            {{for o in TYPES:}}
            {{=OPTION(o)}}
            {{pass}}
            </select>
            <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw"></i></span>
            <input id="s_content" type="text" class="form-control" placeholder="Special content" value={% search_data.content %}>
            <span class="input-group-addon"><i class="fa fa-certificate fa-fw"></i></span>
            <select class="form-control" value="{% search_data.major %}" id="s_major" style="border-radius:0;-webkit-appearance: none;">
            {{=OPTION('All majors',_value='All')}}
            {{for o in MAJOR_OPTIONS:}}
            {{=o}}
            {{pass}}
            </select>
            </div>
        <br>
    </div>
    {% #question_data:cpt %}
    <a href="{{=URL('default','answer')}}/{% id %}" class="advice_link">
        <div class="advice" {% #if done %}id="done"{%/if%}>
            <div class="type">
                {%% icon %%}<br>
                <span id="nb_answer">{% nb_answer %}</span>
                <span>answer{% #if nb_answer>1 || nb_answer==0 %}s{%/if%}</span>
            </div>
            <div class="extract">
                <span class="top_line">{% title %} <span class="univ">@{% university %}</span></span>
                <span class="content_line">{%% content %%}</span>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% #keywords %}
                            <span class="badge" style="background-color:#009EE0;margin-right:2px">{% this %}</span>
                        {% /keywords %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span id="author">Posted {% date %} by {% author %}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% /question_data %}
</script>
<script>
    $.get('{{=URL('default','universities',args=['names'], user_signature=True)}}', function(data){
            $("#university_search").typeahead({ source:data });
        },'json');
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            question_data: {},
            search_data: {
                univ:"",
                type:"",
                content:"",
                major:""
            },
            error:{
                is:false,
                message:""
            },
            page:1,
            pages:[]
        }
    });

    function refresh() {
        $.ajax("{{=URL('default','question_data', user_signature=True)}}",
            {
                data: {
                    search_data:MAIN.get('search_data')
                },
                method: 'POST',
                success: function (data) {
                    MAIN.set('question_data', data);
                },
                error: function () {
                    var error = {
                        is:true,
                        message:"Error when loading questions list. Reload the page."
                    };
                    MAIN.set('error',error);
                }
            }
        );
    };

    $( "#university_search" ).change(function() {
        var value = $('#university_search').selectpicker('val').val();
        var data = MAIN.get('search_data');
        data.univ = value;
        MAIN.set('search_data',data);
    });

    MAIN.observe( 'search_data', refresh);
    setInterval(refresh, 10000);
</script>