<div id="content">
		<div class="relative">
			<div class="demo1">
				<img src="{{=URL('static','images/Mercator.svg')}}" class="imgMap"/>

                <div class="marker" id="usa" data-coords="1486, 366">
					<h3>États-Unis</h3>
					<ul>
                        <li><a href="#">University of California</a></li>
                    </ul>
				</div>

				<div class="marker" id="france" data-coords="915,200">
					<h3>France</h3>
					<ul>
                        <li><a href="#">Université de Bordeaux</a></li>
                    </ul>
				</div>

                <div class="marker" id="paris" data-coords="815,430">
					<h3>France</h3>
					<ul>
                        <li><a href="#">Université de Bordeaux</a></li>
                    </ul>
				</div>

			</div>
			<div class="controls">
				<a href="#" rel="usa">États-Unis</a>
				<a href="#" rel="france">France</a>
			</div>
		</div>
</div>