@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Montserrat:400,700);

$ftLora: 'Lora', serif;
$ftMontserrat: 'Montserrat', sans-serif;

$clrBdxBlue : #009EE0;
$clrBdxBrown : #443A31;

$colors : (#ffffff,#009EE0,#BCCF3D,#FFC300,#E8A0B8);